[*.cs]

# CS0661: Type defines operator == or operator != but does not override Object.GetHashCode()
dotnet_diagnostic.CS0661.severity = silent
[*.cs]

# CS0660: Type defines operator == or operator != but does not override Object.Equals(object o)
dotnet_diagnostic.CS0660.severity = silent

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = silent

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none
